<section class="villa-types-detail si-qu">
  <div class="background-dimmer"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h1 class="villa-types-inner villa-types-inner-si-qu">Si Qu</h1>

        <div class="villa-types-highlight">2 Bedrooms <br /> 236.77M<sup>2</sup></div>
      </div>
      <div class="col-xs-9">
        <div class="villa-types-detail-content">
          <div class="clearfix villa-types-image-zoom">
            <a href="images/floorplans/2-siqu-B.png" style="margin-right:40px;">
              <figure>
                <img src="images/floorplans/2-siqu-B.png" width="350"  />
                <figcaption>
                <span>Basement<span class="glyphicon glyphicon-zoom-in"></span></span>
                </figcaption>
              </figure>
            </a>
            <a href="images/floorplans/2-siqu-1F.png">
              <figure>
                <img src="images/floorplans/2-siqu-1F.png" width="350"  />
                <figcaption>
                <span>First floor<span class="glyphicon glyphicon-zoom-in"></span></span>
                </figcaption>
              </figure>
            </a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

      </div>
    </div>
  </div>

</section>
