body, h1, h2, h3, h4, h5, h6 {
  font-family: Georgia,Serif;
  color: #fff;
}

html, body {
  height: 100%;
}

body {
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  .transition(color 0.3s linear);

  &:hover, &:focus {
    color: @copper;
    text-decoration: none;
    outline: none;
  }
}

img {
  max-width: 100%;
}

label {
  font-weight: normal;
}

select {
  @background: #3b3b3b;
  background: @background;
  color: @copper;
  border: none;
  .border-radius(0);
  padding: 3px 5px;
  height: 25px;

  //removing arrow http://stackoverflow.com/questions/16603979/select-removing-dropdown-arrow
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 3px;
  text-overflow: '';

}

option {
  border: none;
  padding: 3px 8px;
}