//DESKTOP FIRST APPROACH DUE TO DESIGN FLOW


@media (max-width: @screen-xs-min) {


}



/* Small devices (tablets, 768px and below) */
@media (max-width: @screen-sm-min) {

  .navbar-brand {
    .logo {
      height: 60px !important;
    }
  }
  .villa-types {
    &:nth-child(even) {
      top: 0;
    }
  }

  .doorhandle-background {
    background: url("@{root}/images/doorhandles-closed.png") 50% 50% no-repeat;
  }

  .site-footer {
    position: relative;
  }

  .benefits-tabs > li {
    width: 50%;
  }

}
//DESKTOP FIRST APPROACH DUE TO DESIGN FLOW

/* Medium devices (desktops, 992px and below) */
@media (max-width: @screen-md-min) {

  .villa-types-detail {
  //  padding-top: 30px;
    .container {
      padding-top: 30px;
    }
  }
  .villa-types-inner {
    height: 93px;
    margin: 0 auto;
  }
  .villa-types-highlight {
    margin: 0 auto;
  }

  .villa-types-inner-shan-qu, .villa-types-inner-shan-qu-zh {
    background: url("@{root}/images/mobile-villa-shanqu.png") no-repeat;
  }

  .villa-types-inner-si-qu, .villa-types-inner-si-qu-zh {
    background: url("@{root}/images/mobile-villa-siqu.png") no-repeat;
  }

  .villa-types-inner-ling-yun, .villa-types-inner-ling-yun-zh {
    background: url("@{root}/images/mobile-villa-lingyun.png") no-repeat;
  }

  .villa-types-inner-dui-xue, .villa-types-inner-dui-xue-zh {
    background: url("@{root}/images/mobile-villa-duixue.png") no-repeat;
  }

  .villa-types-inner-tian-ying, .villa-types-inner-tian-ying-zh {
    background: url("@{root}/images/mobile-villa-tianying.png") no-repeat;
  }

  .villa-types-detail-content {
    margin-top: 20px;
  }


}
//DESKTOP FIRST APPROACH DUE TO DESIGN FLOW

/* Large devices (large desktops, 1200px and below) */
@media (max-width: @screen-lg-min) {



}



// @media (max-width: @screen-xs-max) {  }
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
// @media (min-width: @screen-lg-min) {  }
