
body {
  background-repeat: no-repeat;

  &.the-residence-page {
    // .site-footer {
    //   position: relative;
    // }
  }

  &.gallery-page, &.page-template-page-gallery-php {
    background-image: url("@{root}/images/gallery-bg.jpg");
    background-color: #0a0a0a;

    .content {
      margin-top: 120px;
    }
  }

  &.contact-us-page, &.page-template-page-contact-us-php {
    background: url("@{root}/images/contact-us-bg.png") no-repeat 50% 0 #000;
    background-size: auto;

    .content {
      margin-top: 200px;
    }
  }

  &.terms-and-conditions-page, &.terms-and-conditions-zh-page {
    background-image: url("@{root}/images/terms-and-conditions-bg.jpg");
  }

  &.about-st-regis-page, &.about-st-regis-zh-page {
    background: url("@{root}/images/about-st-regis-bg.png") no-repeat 50% 0 #000;
    background-size: auto;
  }

  &.the-st-regis-lijiang-resort-page, &.the-st-regis-lijiang-resort-zh-page {
    background-image: url("@{root}/images/the-st-regis-lijiang-resort-bg.jpg");
  }

  &.our-team-page, &.our-team-zh-page {
    background-image: url("@{root}/images/our-team-bg.jpg");
  }

  &.category-news, &.single-post, &.category-news-zh {
    background-image: url("@{root}/images/news-bg.jpg");
    background-color: #000;
    .content {
      margin-top: 200px;
    }
  }
}



.navbar-default {
  background: rgb(0, 0, 0); /* The Fallback */
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  border: none;

  .navbar-nav {
    li {
      a {
        color: #fff;
      }
      &.active>a, a:hover {
        color: @copper !important;
        background: none !important;
      }
      a:focus {
        background: none;
      }
      &.active .navbar-subnav {
        visibility: visible;
      }

    }
  }
}

.navbar-toggle {
  border: none;
}
.navbar-brand {
  padding: 0;

  .logo {
    .hide-text;
    margin: 0;
    background: url("@{root}/images/logo.png") no-repeat;
    width: 160px;
    height: @navbar-height;
    position: absolute;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -ms-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    transition: height 0.2s linear;


    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      //background-color: #000; /* IE 8 */
      left: 0;
      z-index: -1;
    }

    &:before {
      height: @navbar-height;
      //background: rgb(0,0,0);
      //background-color: rgba(0, 0, 0, 0.2);
      top: 0;
    }

    &:after {
      height: 100%;
      //background: rgb(0,0,0);
      //background-color: rgba(0, 0, 0, 0.6);
      background-color: rgba(0, 0, 0, 0.5);
      top: @navbar-height;
    }
  }
}

.navbar-subnav {
  width: 500px; //HACK FOR NOW
  position: absolute;
  text-transform: lowercase;
  visibility: hidden;

  li {
    float: left;
  }
}



.the-residences, .about-lijiang {
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: none;
  min-height: 700px;
  position: relative;
  overflow: auto; /* prevent margin-top collapse of child */
}

.the-residences-intro {

  background-image: url("@{root}/images/intro-bg.jpg");
  background-attachment: fixed;


  .the-residences;

  .content{
    text-align: center;
    margin-top: 150px;
  }

  .intro-slogan {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #111;
    margin-top: 10px;
    letter-spacing: 0.2em;
  }

  .intro-arrow {
     font-family: 'Trebuchet MS';
     font-weight: bold;
     font-size:30px;
     text-align: center;
     color: #fff;
     text-decoration: none;
     .transform(scale(1.7,0.8));
     display: block;
     height: 50px;
     width: 50px;
     margin: 50px auto;
  }
}


.the-residences-overview {
  .the-residences;
  background-image: url("@{root}/images/overview-bg.jpg");
  min-height: 800px;
  .content {
    margin-top: 143px;
  }
}


.the-residences-location {
   .the-residences;
   background-image: url("@{root}/images/location-bg.jpg");
   min-height: 750px;


  .content {
    margin-top: 130px;
  }

  .modal-dialog {
    //width: 490px;
  }
  .modal-content .container {
    width: 100%;
  }

}

.location-popover {
  width: 500px;
  min-height: 200px;
  padding: 18px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.75);
  position:absolute;

  img {
    float: left;
    width: 230px;
  }

  button.close {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 3px;
    right: 7px;
  }
}

.location-popover-content {
  font-size: 12px;
  float: left;
  width: 210px;
  margin-left: 20px;
}

.location-popover-title {
  color: @copper;
  font-size: 14px;
  margin-bototm: 4px;
  text-transform: uppercase;
}



.the-residences-villa-types {
  .the-residences;
  background-image: url("@{root}/images/overview-bg.jpg");

  min-height: 850px;
  overflow: hidden;

  .content {
    text-align: center;
    margin-top: 170px;
  }

  .tooltip-inner {
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    p {
      margin: 0;
    }
  }

  .tooltip-arrow {
    display: none;
  }

}

.villa-types (@x: 0, @y: 0) {
  background: url("@{root}/images/villa-types-sprite.png") no-repeat @x @y;
  width: 157px;
  height: 291px;

  display: inline-block;
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin: 0;
  }
  &:hover{
    background: url("@{root}/images/villa-types-sprite.png") no-repeat @x -291px;
  }
}

.villa-types:nth-child(even) {
  top: 30px;
}


.villa-types-shan-qu, .villa-types-shan-qu-zh {
  .villa-types;
}

.villa-types-si-qu, .villa-types-si-qu-zh {
  .villa-types(-157*1px,0);
}

.villa-types-ling-yun, .villa-types-ling-yun-zh {
  .villa-types(-157*2px,0);
}

.villa-types-dui-xue, .villa-types-dui-xue-zh {
  .villa-types(-157*3px,0);
}

.villa-types-tian-ying, .villa-types-tian-ying-zh {
  .villa-types(-157*4px,0);
}

.villa-types-detail {

  //height: 100%;
  min-height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  // position: absolute;
  // top: 0;

  &.shan-qu, &.shan-qu-zh {
    background-image: url("@{root}/images/shanqu-bg.jpg");
  }
  &.si-qu, &.si-qu-zh {
    background-image: url("@{root}/images/siqu-bg.jpg");
  }
  &.ling-yun, &.ling-yun-zh {
    background-image: url("@{root}/images/lingyun-bg.jpg");
  }
  &.dui-xue, &.dui-xue-zh {
    background-image: url("@{root}/images/duixue-bg.jpg");
  }
  &.tian-ying, &.tian-ying-zh {
    background-image: url("@{root}/images/tianying-bg.jpg");
  }

}

.villa-types-inner (@x: 0, @y: 0) {
  background: url("@{root}/images/villa-types-inner-sprite.png") no-repeat @x @y;
  width: 211px;
  height: 394px;
  margin-top: 170px;
  .hide-text;
  // display: inline-block;
  // position: relative;
  // margin-right: 20px;
}

.villa-types-bullets-container {
  height: 0;
}

//villa types carousel
#villa-types-carousel, #villa-types-carousel .carousel-inner, #villa-types-carousel .item {
  //height: 100%;
  min-height: 850px;
}

#villa-types-carousel {

  .villa-types-bullets {
    width: auto;
    margin: 0;
    border: none;
    left: inherit;
    right: 0;
    bottom: 40px;


    li {
      width: 33px;
      height: 31px;
      border: 0;
      border-radius: 0;
      margin: 0 15px 0 0;
      float: left;
      opacity: 0.5;
      text-indent: -9999px;
      background: url("@{root}/images/villa-types-icons-sprite.png") no-repeat;
      position: relative;

      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        text-indent: 0;
      }

      span {
        position: absolute;
        text-align: center;
        top: 40px;
        left: -30px;
        width: 100px;
      }
    }

    li.shan-qu {
    }
    li.si-qu {
      background-position: -33px 0;
    }
    li.ling-yun {
      background-position: -2*33px 0;
    }
    li.dui-xue {
      background-position: -3*33px 0;
    }
    li.tian-ying {
      background-position: -4*33px 0;
    }
  }

  .carousel-caption {
    position: static;
  }


}
//end of villa types carousel


.villa-types-inner-shan-qu, .villa-types-inner-shan-qu-zh {
  .villa-types-inner;
}

.villa-types-inner-si-qu, .villa-types-inner-si-qu-zh {
  .villa-types-inner(-211*1px,0);
}

.villa-types-inner-ling-yun, .villa-types-inner-ling-yun-zh {
  .villa-types-inner(-211*2px,0);
}

.villa-types-inner-dui-xue, .villa-types-inner-dui-xue-zh {
  .villa-types-inner(-211*3px,0);
}

.villa-types-inner-tian-ying, .villa-types-inner-tian-ying-zh {
  .villa-types-inner(-211*4px,0);
}

.villa-types-detail-content {
  margin-bottom: 100px;
  .layover(100%);
  margin-top: 120px;
  padding: 30px;
  border: 1px solid @copper;
  overflow: auto;
  min-height: 620px;

}

.villa-types-highlight {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    max-width: 211px;

    p {
      margin: 0;
    }
}

.villa-types-image-zoom {

  margin-bottom: 20px;
  text-align: center;

  figcaption {
    text-align: center;
    margin-top: 15px;
    color: @copper;
  }
}

.the-residences-benefits {

   background: url("@{root}/images/benefits-bg.jpg") no-repeat;
   position: relative;
   height: 700px;
  .the-residences;

  .content {

    //@layover-height: 470px;
    .layover(700px, 470px);
    margin: auto;
    border: 1px solid @copper;
    border-top: none;
    position: relative;
    z-index: @benefits-content-zindex;
    padding: 0 20px 20px;

    h1 {
      font-size: 20px;
    }

    h2 {
      color: @copper;
      font-size: 15px;
    }

    p {
      font-size: 11px;
    }
  }

}

.benefits-tabs {
  border-bottom: 1px solid @copper;
  max-width: 700px;
  margin: 100px auto 0;

  &>li {
    float:right;
    background: transparent;

    a, a:focus, a:hover {
      background: none;
      color: #999;
      border: none;
    }
  }

  &>li.active {

    border: 1px solid #B58F53;
    background: rgba(0,0,0,0.75);
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rbga(0,0,0,0.75);
    a, a:focus, a:hover {
      background: none;
      color: @copper;
      border: none;
    }
  }
}

.benefits-tab-content {

  .tab-pane {
    height: 100%;
  }
}

.benefits-tab-content-left {
  padding-top: 20px;
}

.benefits-tab-content-right {
  height: 449px;
  overflow: auto;
}

.butler-bg {
  height: 100%;
  width: 465px;
  position: absolute;
  top: 0;
  background: url("@{root}/images/suited-man.png") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: @butler-zindex;

}


.doorhandle-container {
  height: 513px;
  position: relative;
}

.doorhandle {
  width: 257px;
  height: 513px;
  position: absolute;
  background: url("@{root}/images/doorhandles.png") no-repeat;
  z-index: @doorhandles-zindex;
}

.doorhandle-l {
   right: 0;
}

.doorhandle-r {
   background-position: 100% 0;
   left: 0
 }

 .doorhandle-copy {
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 320px;
  position: absolute;
  right: -160px;
  padding: 15px;
  top: 38px;
}


.site-footer {
  background: #000;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  z-index: @footer-zindex;

}

.footer-nav {
  color: #fff;
  font-size: 12px;
  float: right;
  .horizontal-list(0.8em);

  li.active a {
    color: @copper;
  }
}

.page-template-page-generic-php .content, .neighbourhood-page .content  {
  padding-top: 180px;
}


.about-lijiang-about-lijiang {
  .about-lijiang;
  background-image: url("@{root}/images/about-bg.jpg");

  .content {
    padding-top: 180px;
  }
}

.about-lijiang-neighbourhood {
  min-height: 850px;
  background-image: url("@{root}/images/neighbourhood-bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed;

  .content {
    padding-top: 180px;
  }
}

// .about-content, .contact-us-content {
//   margin-top: 120px;
// }


.contact-address-title {
  color: @copper;
  font-style: italic;
}

.disclaimer {
  margin: 50px 0;
  font-size: 11px;

}


/* gallery modules */
#gallery-container {
  margin-top: 20px;
}

.gallery-filter-controls {

  text-align: right;

  label {
    font-weight: normal;
    position: relative;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .caret {
      position: absolute;
      top: 11px;
      right: 8px;
    }
  }
  select {
    min-width: 150px;
    margin-left: 10px;
  }

  #villa-type-filter {
    width: 180px;
  }

}

.gallery-container {

  .item {
    width: 170px;
    height: 127px;
    margin: 10px;
  }
}

/* news articles */

.news-article {
  .content-box;
}

.article-header-title  {

  font-size: 16px;
  margin: 0;
  a {
    color: @copper;
  }
}

.article-summary-content {
  img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}

.excerpt-read-more {
  color: @copper;
}

.pagination {
  float: right;

  li {
    list-style: none;
    display: inline-block;
  }

  span.page-numbers, a.page-numbers {
    display: block;
    background: #6d6e71;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 25px;

    &.current {
      background: @copper;
    }
    &:hover {
      color: #fff;
      background: @copper;
    }
  }
}

.single-title {
  color: @copper;
  font-size: 24px;
}

/* contact form */
.contact-us-form {

  .form-control:focus {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.3);
      outline: 0 none;
  }

  .content-box;
  border: 1px solid @copper;
  //max-width: 320px;
  .btn {
    background: #ac7908;
    border-radius: 0;
    border: 0;
    color: #fff;
    text-transform: uppercase;
  }
}

.background-dimmer {
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2
}


/* UTILITY CLASSES */

.content-box {
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  min-height: 250px;
}

.v-center-container {
  text-align: center;
}

.v-center-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
}

.modal-backdrop.in {
    opacity: 0.8;
}


/* LIBRARY CSS AND OVERRIDES */


//bootstrap form controls
.form-control {
  background: #000;
  background: rgba(65, 64, 66, 0.7);
  border-radius: 0;
  border: none;
  color: #fff;
}

.custom-carousel .carousel-indicators {

  li {
    border-radius: 0;
    border: none;
    margin: 0 5px 0 0;
    background: darken(@copper, 30%);
    .transform(rotate(45deg));
  }

  .active {
    background: @copper;
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }
}

.custom-carousel .carousel-caption {
  text-align: left;
  position: static;
  padding: 0 0 20px 0;
  min-height: 340px;
}


.custom-carousel .carousel-outer {
    @layover-height: 470px;
    height: @layover-height - 110;
    overflow: auto;
}

.custom-carousel .carousel-indicators-container {
  text-align: right;
  padding: 10px 15px;
}


.custom-carousel .carousel-indicators {
  position: static;
  display: inline-block;
  width: inherit;
  margin: 0 0 0 25px;

}

.custom-modal {

  .modal-header {
    border: 0;
    padding: 0;
  }

  .modal-body {
    padding: 0;
  }

  .modal-title {
    color: @copper;
  }
  .modal-content {
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    .border-radius(0);
    padding: 10px 0;
  }
  .close {
    color: #fff;
    opacity: 1;
    display: none;
  }
}

.accordion-benefits {
  .panel {
    background: none;
    border: none;
  }
  .panel-heading {
    background: none;
    padding: 10px 0;
  }

  .panel-title {

  }

  .panel-title-link {
    color: @copper;
    display: block;

    .caret {
      border-left: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid rgba(0, 0, 0, 0);
      border-top: 5px solid;
    }

    &.collapsed {
      color: #fff;
      border-color: #fff;

      .caret {
      border-bottom: 5px solid rgba(0, 0, 0, 0);
      border-top: 5px solid rgba(0, 0, 0, 0);
      border-left: 5px solid;
      }
    }

  }
  .panel-body {
    padding: 15px 0;
    border-top: none !important;
  }
}

.accordion-neighbourhood {
  @grey: #939598;
  .panel {
    background: none;
    border: none;
  }

  .panel-heading {
    background: none;
    padding: 10px 0 0 0;
  }
  .panel-title {

  }

  .panel-title-link {
    color: @copper;
    display: block;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;

    .caret {
      color: #fff;
      border-left: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid rgba(0, 0, 0, 0);
      border-top: 5px solid;
    }

    &.collapsed {
      color: @grey;
      border-color: @grey;

      .caret {
      color: @grey;
      border-bottom: 5px solid rgba(0, 0, 0, 0);
      border-top: 5px solid rgba(0, 0, 0, 0);
      border-left: 5px solid;
      }
    }
  }

  .panel-body {
    padding: 15px 0;
    border-top: none !important;

    img {
      float: left;
      margin-right: 15px;
    }
  }
}

.mfg-bg {
  opacity: 0.9;
}
.mfp-figure:after {
  background: none;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope animation ****/

.isotope .isotope-item {
  /* change duration value to whatever you like */
  @duration: 0.4s;
  -webkit-transition-duration: @duration;
     -moz-transition-duration: @duration;
      -ms-transition-duration: @duration;
       -o-transition-duration: @duration;
          transition-duration: @duration;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;

}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.ekko-lightbox-container {
    position: relative;
    text-align: center;

    img {
      max-width: 1140px !important;
    }
}
.ekko-lightbox-nav-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    a {
      color: #FFFFFF;
      display: block;
      font-size: 30px;
      height: 100%;
      opacity: 1;
      padding-top: 45%;
      text-shadow: 2px 2px 4px #000000;
      transition: opacity 0.5s ease 0s;
      width: 49%;
      position: absolute;
      z-index: 100;

      &:empty {
        width: 49%;
      }
    }
}


.ekko-lightbox {

  a:hover {
    opacity: 1;
    text-decoration: none;
  }
  .modal-body {
    padding-bottom: 15px;
  }
  .modal-content {
    background: none;
    border: none;
    box-shadow: none;
  }
  .glyphicon-chevron-left {
    left: -70px;
    background: url("@{root}/images/gold-arrow-l.png") no-repeat 0 50%;
  }

  .glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
    content: '';
  }
  .glyphicon-chevron-right {
    right: -70px;
    background: url("@{root}/images/gold-arrow-r.png") no-repeat 100% 50%;
  }
  .modal-footer {
    color: @copper;
    font-size: 15px;
    text-align: center;
    margin:0;
    padding: 0;
    border: none;
  }

}

//image zoom

button.mfp-close, button.mfp-arrow {
  .modal-close;
}