@copper: #b58f53;

//@root: "../.."; //static
@root: ".."; //WP/staging





@doorhandles-zindex: 1029; //bootstrap fixed navbar is 1030
@butler-zindex: 1029;
@benefits-content-zindex: 1028;
@footer-zindex: 1030;

@import "bootstrap/bootstrap.less";
@import "mixins.less";
@import "base.less";
@import "modules.less";
@import "media-queries.less";

@import "@{root}/css/libs/magnific-popup.min.css";