.wcept-add-gallery-container{

}

ul.wcept-gallery-tabs{
	list-style: none;
	display: inline-block;
	margin: 10px 0 0;
}

ul.wcept-gallery-tabs li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.wcept-gallery-tabs li label{
	padding: 0;
	margin: 5px 0;
	border-right: 1px solid #ddd;
	font-weight: bold;
	font-size: 13px;
}
ul.wcept-gallery-tabs li:last-child label{
	border-right: 0;
}

ul.wcept-gallery-tabs li label input{
	display: none;
}
ul.wcept-gallery-tabs li label input[type="radio"] + span{
	padding: 2px 10px;
	display: inline-block;
}
ul.wcept-gallery-tabs li label input[type="radio"]:checked + span{
	text-decoration: underline;
}

ul.wcept-gallery-forms{
	display: block;
	border-bottom: 1px solid #eee;
	min-height: 80px;
	margin: 12px 0 20px;
	padding: 5px 10px;
}

ul.wcept-gallery-forms li{
	display: none;
}
ul.wcept-gallery-forms li.active{
	display: block;
}

.wcept-uploader{
	margin-bottom: 8px;
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
}
div#gallery_images{
	/*padding: 5px 10px;*/
	margin: 0 0 10px;
	min-height: 100px;
}

.remove_gallery_image{
    display:none;
    float:right;
    padding:3px 5px;
}

.gallery_image_block{
	cursor: pointer;
    padding:5px 20px;
    max-width: 1000px;
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
    margin: 0 0 20px 0;
    clear: both;
    overflow: hidden;
}

.gallery_image_block img {
  float: left;
  margin-right: 20px;
}
.gallery_image_block:hover{
    background: #eee;
}

.gallery_image_block:hover > .remove_gallery_image{
    display:inline-block;
}
.gallery_image_block img{
    max-width: 500px;
    max-height: 192px;
}

.gallery_fields {
  float: left;
}

.gallery_fields label {
  margin-right: 15px;
}

span.wcept-handle{
	cursor: pointer;
	display: block;
	vertical-align: middle;
	width: 24px;
	height: 16px;
	margin-top: 8px;
	background: url(../../img/drag_handle_dark.gif) no-repeat;
}